[Unit]
Description=BACKEND sausage-store
After=network.target

[Service]
Type=simple
User=backend
Group=backend
Environment=REPORT_PATH={{ backend_report_directory }}
Environment=LOG_PATH={{ backend_log_directory }}
ExecStart=/usr/bin/java -jar {{ backend_lib_directory }}sausage-store-{{ backend_version }}.jar
KillMode=process
Restart=on-failure


[Install]
WantedBy=multi-user.target
